*{
  margin:0;
  padding:0;
  margin-block-start:0;
  margin-block-end:0;
  margin-inline-start:0;
  margin-inline-end:0;
}

html, body{
	width:100%;
	height:100%;
	background-color: #ffd690;
}

#wrapper{
    height: 100vH;
    width: 100vW;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/pics/cs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#board{
    border: 5px solid black;
    background-color: #d4f8ff;
}

#button{
    display: none;
    position: center;
    width: 100px;
    height: 50px;
    bottom: 30px;
    left: 30px;
    font-size: 32px;
    font-family: sans-serif;
}

#hiddenimages{
    display: none;
}
